{{define "partials/message-right"}}
<div class="flex items-start space-x-2 justify-end mt-4">
  <div>
    <p class="font-medium text-right">You</p>
    <p class="bg-blue-600 text-white p-2 rounded-lg shadow">{{.Content}}</p>
    <div class="mt-1 flex items-center space-x-2 justify-end">
      <button class="text-sm text-blue-500 hover:underline">Reply</button>
    </div>
  </div>
  <img
    src="https://ui-avatars.com/api/?rounded=true&background=random&name={{.Username}}"
    alt="Your Avatar"
    class="w-10 h-10 rounded-full"
  />
</div>
{{end}}
