package partials

import (
	"ricin9/fiber-chat/services"
	"ricin9/fiber-chat/utils"
)

type Pagination struct {
	RoomID int
	Cursor int
}

templ Message(message services.Message, pagination Pagination) {
	if message.UserID == utils.GetUserId(ctx) {
		@MessageRight(message, pagination)
	} else if message.UserID == 0 {
		@MessageMiddle(message, pagination)
	} else {
		@MessageLeft(message, pagination)
	}
}
