
package partials

import "ricin9/fiber-chat/services"

templ MessagesRange(room services.Room, messages []services.Message, cursor int) {
	for idx, message := range messages {
		if idx == 0 {
			@Message(message, Pagination{room.ID, cursor})
		} else {
			@Message(message, Pagination{})
		}
	}
}
