<li class="mb-2" id="room-{{.ID}}">
  <button
    hx-get="/rooms/{{.ID}}"
    hx-target="#room-messages"
    hx-swap="innerHTML scroll:#room-{{.ID}}-messages:bottom"
    hx-push-url="true"
    class="text-blue-600 hover:underline w-full text-left flex"
    hx-on:click="hightlightRoom(this); resetUnread({{.ID}});"
  >
    <span class="flex-grow"> {{.Name}} </span>
    <div
      title="Unread messages"
      class="inline-flex items-center justify-center w-5 h-5 ms-2 text-sm font-semibold text-blue-800 empty:bg-inherit bg-blue-200 rounded-full"
    ></div>
  </button>
</li>

<script>
  function hightlightRoom(button) {
    const rooms = document.querySelectorAll(".selected-room");
    rooms.forEach((room) => {
      room.classList.remove("selected-room");
    });
    button.parentElement.classList.add("selected-room");
  }
</script>

<style>
  .selected-room {
    background-color: rgb(219 234 254 / var(--tw-bg-opacity)) /* #dbeafe */;
  }
</style>
