<li class="mb-2" id="room-{{.ID}}">
  <a
    class="p-2 rounded hover:bg-gray-100 transition duration-150 ease-in-out flex justify-between items-center"
    href="/rooms/{{.ID}}"
    hx-get="/rooms/{{.ID}}"
    hx-target="#room-content"
    hx-swap="outerHTML scroll:#room-{{.ID}}-messages:bottom"
    hx-push-url="true"
    hx-on:click="hightlightRoom(this); resetUnread({{.ID}});"
  >
    <span># {{.Name}}</span>
    <span
      class="empty:hidden bg-red-500 text-white text-xs font-bold px-2 py-1 rounded-full transition duration-150 ease-in-out"
    ></span>
  </a>
</li>

<script>
  function hightlightRoom(button) {
    const rooms = document.querySelectorAll(".selected-room");
    rooms.forEach((room) => {
      room.classList.remove("selected-room");
    });
    button.parentElement.classList.add("selected-room");
  }
</script>
