<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{or .Title "Chat app with fiber"}}</title>
    <script src="/vendor/htmx@2.0.2.min.js"></script>
    <script src="/vendor/htmx-ws@2.0.1.js"></script>
    <link rel="stylesheet" href="/css/output.css" />

    <!-- favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon/favicon-192x192.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/favicon/favicon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/favicon/favicon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/favicon/favicon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/favicon/favicon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/favicon/favicon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/favicon/favicon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/favicon/favicon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/favicon/favicon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/favicon-180x180.png"
    />
  </head>
  <body class="bg-gray-100 h-screen flex flex-col">
    <nav class="bg-blue-600 p-4 text-white">
      <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-xl font-bold">Chat App</a>
        <div hx-boost="true">
          {{if .Guest}}
          <a href="/login" class="hover:underline mr-4">Login</a>
          <a href="/signup" class="hover:underline">Sign Up</a>
          {{else}}
          <a href="/logout" class="hover:underline">Logout</a>
          {{end}}
        </div>
      </div>
    </nav>

    {{if not .Guest }}
    <main
      class="container mx-auto mt-4 p-4 flex-grow"
      hx-ext="ws"
      ws-connect="/api/v1/ws"
    >
      {{embed}}
    </main>

    {{else}}
    <main class="container mx-auto mt-4 p-4 flex-grow">{{embed}}</main>
    {{end}}
  </body>
</html>
