<div class="flex h-[calc(100vh-8rem)]">
  <!-- Rooms list -->
  <div class="w-1/4 bg-white rounded shadow p-4">
    <h2 class="text-xl font-bold mb-4">Rooms</h2>
    <ul id="room-list">
      {{range .Rooms}}
      <li class="mb-2">
        <button
          hx-get="/rooms/{{.ID}}"
          hx-target="#room-messages"
          hx-push-url="true"
          class="text-blue-600 hover:underline"
        >
          {{.Name}}
        </button>
      </li>
      {{end}}
    </ul>
  </div>

  <!-- Messages -->
  <div
    id="room-messages"
    class="w-3/4 ml-4 flex flex-col bg-white rounded shadow p-4"
  >
    {{ template "partials/right-side-no-room" . }}
  </div>
</div>

<!-- <script>
  document.addEventListener("htmx:wsAfterMessage", function (event) {
    console.log("scrolling down", messages)
    const messages = document.getElementById("room-messages");
    messages.scrollTo(0, messages.scrollHeight);
  });
</script> -->
